<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/fail.css' %}">
  {% include 'myapp/index.html' %}
  <main class="AloneChoose2">

    <body>
      <br><br><br><br><br>
      <p>매칭이 성사되지 않았어요</p>
      <p>다음 매칭 사이클때</p>
      <p>새로운 인연을 만나보세요!</p>

      <br><br>
      <br><br>
      <div id="box">
        <p> 매칭 사이클은 1시간씩 자동 진행됩니다</p>
        <p> 1시간 후 매칭이 되고, 상호 동의가 완료되면</p>
        <p> 상대방의 카톡 아이디를 알 수 있어요</p>
        <p> 더 자세한 사용법은 메뉴에서 확인할 수 있어요! </p>
      </div>
    </body>
      </main>

    </html>
