<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/success.css' %}" />
  {% include 'index.html' %}
  <main class="AloneChoose2">
    <body>
      <br /><br /><br /><br />
      <p>
        <span style="color: rgb(241, 48, 128)">자기소개</span>가 완료되었어요!
      </p>
      <p>
        이제
        <br /><br />
        <span style="color: rgb(241, 48, 128); text-emphasis-style: dot"
          >3초</span
        >
        <span> </span>
        <span style="color: rgb(241, 48, 128); text-emphasis-style: dot"
          >후에</span
        >
        <span> </span>
        <span style="color: rgb(241, 48, 128); text-emphasis-style: dot"
          >새로운</span
        >
        <span> </span>
        <span style="color: rgb(241, 48, 128); text-emphasis-style: dot"
          >인연</span
        >을 만나러가요!
      </p>
    </body>
  </main>

  <script>
    setTimeout(function () {
      // 2.5초 후에 다른 페이지로 리디렉션합니다.
      window.location.href = "/meeting";
    }, 2500); // 2500 밀리초 = 2.5초 일부러 3초 보다 짧게함
  </script>
</html>
