<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/success.css' %}" />
  {% include 'myapp/index.html' %}
  <main class="good">
    <body>
      <br /><br /><br /><br />
      <p><span style="color: rgb(241, 48, 128)">매칭 신청</span>이 되었어요!</p>
      <p>상대방과 매칭될때까지 <br />조금만 기다려주세요!</p>
      <br />
      <p>매시 정각에 매칭 탭에서</p>

      <p></p>
      <p>
        <span style="color: rgb(241, 48, 128); text-emphasis-style: dot"
          >결과</span
        >를 알려드려요!
      </p>
    </body>
  </main>
</html>
