<!DOCTYPE html> 
<html lang="ko">

<link rel="stylesheet" href="{% static 'myapp/css/home.css' %}" />
  <main class="HomeContent">

    <body>
      <br><br>
      <h2>
        <span style="color:rgb(241, 48, 128); text-emphasis-style: dot;">1</span>
        <span> </span>
        <span style="color:rgb(241, 48, 128); text-emphasis-style: dot;">2</span>
        3</h2>
      <br><br>
      <div id="start">
        <div class="box1" onclick="startFun1();">
          <strong>4</strong>
        </div>
        <div class="box2">
          5<br>6
        </div>
        <div class="box3" onclick="startFun2();">
          <strong>7</strong>
        </div>
        <div class="box4">
          8 <br> 9
          <!--우리학교 사람과<br>만날 수 있어요!-->
        </div>
        <div class="box5" onclick="startFun3();">
          <strong>10</strong>
        </div>
        <div class="box6">
          11 <br>12
          <!--다른학교 사람과<br>만날 수 있어요!-->
        </div>
        <script>
          function startFun1() {
            if ({{logged}} == '0') {
              location.href = '/kakaologin/';
            }
            else if ({{logged}} == '1'){
              location.href = '/my/1/';
            }
            else if ({{logged}} == '2'){
              location.href = '/meeting/';
            }
          }

          function startFun2() {
            if (/* 유저 정보 x 이면 */
            false) {
              /* 카톡 api로 로그인하도록 창 연결 */
            } else if (/* 자기소개 없으면 */
            true) {
              location.href = '/my/1';
            } else {
              location.href = '/choose/';
            }

          }

          function startFun3() {
            if (/* 유저 정보 x 이면 */
            false) {
              /* 카톡 api로 로그인하도록 창 연결 */
            } else if (/* 자기소개 없으면 */
            false) {
              location.href = '/my/1';
            } else {
              location.href = '/choose/';
            }

          }
        </script>
      </body>
    </main>

  </html>
