<!DOCTYPE html>
<html lang="ko">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'myapp/css/index.css' %}" />
    <title>당신의 인연은 어디에? 왓팅</title>
  </head>
  <header>
    <nav id="navButton">
      <li id="navButton1">
        <a href="/home"> 홈 </a>
      </li>
      <li id="navButton2">
        <a href="/updatelocation/nearby-users/"> 지도 </a>
      </li>
      <li id="navButton3">
        <a href="/result/"> 결과 </a>
      </li>
      <li id="navButton4">
        <a href="/menu/"> 메뉴 </a>
      </li>
    </nav>
  </header>
</html>
