<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/kakao.css' %}" />
  {% include 'index.html' %}
  <main class="AloneChoose2">
    <body>
      <br /><br /><br /><br /><br />
      <p>매칭이 성사되었어요!</p>
      <p>상대방의 카카오톡 아이디는</p>
      <p>
        <span style="color: rgb(241, 48, 128)"
          >{{ matched_profile.kakaotalk_id }}</span
        >
      </p>
      <!--백에서 데이터 가져와서 출력-->
      <p>입니다</p>
    </body>
  </main>
</html>
