<!DOCTYPE html>
<html lang="ko">{% load static %}

  <link rel="stylesheet" href="{% static 'myapp/css/matching2.css' %}">
  {% include 'myapp/index.html' %}

  <script>
    function matchingResult() {
      if ({{matched_profile.matching_application}}==1 && {{matched_profile.matching_success}}==1) 
        document
          .getElementById("inner1")
          .innerHTML = "<b>♥새로운<span id=one> 인연</span>을 만나봐요♥</b>";
      else if ({{matched_profile.matching_application}}==1 && {{matched_profile.matching_success}}==2) 
        document
          .getElementById("inner1")
          .innerHTML = "<b>매칭이 성사되지 않았습니다</b>";
      else 
        document.write("")
    }


    function check() {
      if ({{matched_profile.matching_application}}==1 && {{matched_profile.matching_success}}==1) {
        document
        .getElementById("inner2")
        .innerHTML = "<button type=button onclick=goInfo()> 상대정보확인";
      } else if ({{matched_profile.matching_application}}==1 && {{matched_profile.matching_success}}==2) {
        document
        .getElementById("inner2")
        .innerHTML = "<p>새로운 매칭 결과를<br>기다려주세요</p>";
      } else 
        document.write("")
    }

    function meetCheck(check) {
      if ({{matched_profile.matching_application}}==1 && {{matched_profile.matching_success}}==1) {
        document
          .getElementById("box5")
          .style
          .opacity = 1;
        document
          .getElementById("box6")
          .style
          .opacity = 1;
        document
          .getElementById("box7")
          .style
          .opacity = 0;
        document
          .getElementById("box8")
          .style
          .opacity = 0;
      } else if ({{matched_profile.matching_application}}==1 && {{matched_profile.matching_success}}==2) {
        document
          .getElementById("box5")
          .style
          .opacity = 0;
        document
          .getElementById("box6")
          .style
          .opacity = 0;
        document
          .getElementById("box7")
          .style
          .opacity = 1;
        document
          .getElementById("box8")
          .style
          .opacity = 1;
      }
    }
  </script>
  <main class="MatchingContent">

    <body>
      <div id="matching">
        <div class="box1">
          <br>
          <div id="inner1"></div>
          <script>
            matchingResult();
          </script>
        </div>
        <div class="box2">
          <div id="inner2"></div>
          <script>
            check();
          </script>
        </div>
        <div id="box5">
          <!-- 버튼이 box7과 반대로 눌려서 함수 둘이 바꿈 -->
          <p>
            <strong><span style="color:rgb(241, 48, 128);">만나볼래요!</strong>
          </p>
          <!-- 카톡 아이디 알려주는 창으로 -->
        </div>
        <div id="box6" onclick="stop()"> <!--여기가 box8 함수-->
          <p>
            <strong>다음에 만날래요</strong>
          </p>
        </div>
        <div id="box7" onclick="go();">
          <p>
            <p>매칭 재진행은 <br>자동으로 이루어집니다</p>
          </p>
        </div>
        <div id="box8" onclick="meetCheck("매칭 안됐으면")"> <!--이게 box6 함수-->
          <p>
            <strong>매칭 멈추기</strong>
          </p>
        </div>

        <script>
          meetCheck();
        </script>
      </div>
      <script>
        function go() {
          /* 백에 매칭 동의 누른 거 전달되게 하고 시간안에 비동의 안 하면 자동 동의 되게 */
          location.href = '/success/';
        }

        function Home() {
          location.href = '/home/';
        }

        function goInfo() {
          location.href = '/youinfo/';
        }
        function stop() {
          return //백으로 매칭 안 하는 상태로 바꾸는 거 리턴
        }
      </script>
    </body>
  </main>

</html>
