<!DOCTYPE html>
<html lang="ko">
  {% load static %}

  <link rel="stylesheet" href="{% static 'myapp/css/matching.css' %}" />
  {% include 'index.html' %}

  <script>
    function changeDay() {
      /* if (// day==1
      false)
        document
          .getElementById("inner1")
          .innerHTML = "<b><font color='violet'>1일차</font></b>";
      else if (// day==2
      false)
        document
          .getElementById("inner1")
          .innerHTML = "<b><font color='violet'>2일차</font></b>"; */
      if({{matched_profile.matching_application}}==0 && {{matched_profile.matching_success}}==0) {
        document
          .getElementById("inner1")
          .innerHTML = "<b>매칭을<font color='violet'> 신청</font> 해주세요!</b>";
      }
      else if({{matched_profile.matching_application}}==1 && {{matched_profile.matching_success}}==0) {
        document
        .getElementById("inner1")
        .innerHTML = "<b>♥매칭이<font color='violet'> 진행</font> 중입니다♥</b>";
      }
      else if({{matched_profile.matching_application}}==1 && {{matched_profile.matching_success}}==1) {
        document
        .getElementById("inner1")
        .innerHTML = "<b>♥매칭이<span id=one> 성사</span> 되었습니다♥</b>";
      }
      else if({{matched_profile.matching_application}}==1 && {{matched_profile.matching_success}}==2) {
        document
        .getElementById("inner1")
        .innerHTML = "<b>매칭이 성사되지 않았습니다</b>";
      }

    }

    function matchingResult() {
      if (/* result=success */
      false)
        document
          .getElementById("inner2")
          .innerHTML = "<b>♥매칭이<span id=one> 성사</span> 되었습니다♥</b>";
      else if (/* result=fail */
      false)
        document
          .getElementById("inner2")
          .innerHTML = "<b>매칭이 성사되지 않았습니다</b>";
      else
        document.write("")
    }

    function meetCheck() {
      if (/* result=success */
      true) {
        document
          .getElementById("box5")
          .style
          .opacity = 0.5;
        document
          .getElementById("box6")
          .style
          .opacity = 1;
        document
          .getElementById("box7")
          .style
          .opacity = 0;
        document
          .getElementById("box8")
          .style
          .opacity = 0;
      } else if (/* result=fail */
      true) {
        document
          .getElementById("box5")
          .style
          .opacity = 0.5;
        document
          .getElementById("box6")
          .style
          .opacity = 0;
        document
          .getElementById("box7")
          .style
          .opacity = 1;
        document
          .getElementById("box8")
          .style
          .opacity = 1;
      }
    }
  </script>
  <main class="MatchingContent">
    <body>
      <div id="matching">
        <div class="box1">
          <br /><br />
          <div id="inner1"></div>
          <script>
            changeDay();
          </script>
        </div>
        <div class="box2">
          <div id="inner2"></div>
          <script>
            matchingResult();
          </script>
        </div>
        <div id="box5" onclick="Home();">
          <!-- 버튼이 box7과 반대로 눌려서 함수 둘이 바꿈 -->
          <p>
            <strong
              >소개팅 결과
              <span style="color: rgb(241, 48, 128); text-emphasis-style: dot"
                >확인</span
              >!</strong
            >
          </p>
          <!-- 카톡 아이디 알려주는 창으로 -->
        </div>
        <div
          id="box6"
          onclick="/* 백에서 리턴값 fail로 바꿔주고 아님 여기서 바로 값 바꾸고*/ Home();"
        >
          <p>
            <strong
              >미팅 결과
              <span style="color: rgb(241, 48, 128); text-emphasis-style: dot"
                >확인</span
              >!</strong
            >
          </p>
        </div>
        <div id="box7" onclick="go2();">
          <p>
            <strong
              >매칭
              <span style="color: rgb(241, 48, 128); text-emphasis-style: dot"
                >정보 변경</span
              ></strong
            >
          </p>
        </div>
        <div id="box8" onclick="go3();/*매칭 멈추기 상태 함수(백엔드)*/">
          <p>
            <strong>매칭 멈추기</strong>
          </p>
        </div>

        <script>
          //meetCheck();
        </script>
      </div>
      <script>
         /* function go2() {
           //백에 매칭 동의 누른 거 전달되게 하고 시간안에 비동의 안 하면 자동 동의 되게
           location.href = '/matching2/';
         } */

         function go3() {
           /* 백에 매칭 동의 누른 거 전달되게 하고 시간안에 비동의 안 하면 자동 동의 되게 */
           location.href = '/matching2/';
         }

         function Home() {
           location.href = '/meeting/';
         }

         function goInfo() {
           location.href = '/youinfo/';
         }

         var appli = {{ matched_profile.matching_application }};
         var suc= {{ matched_profile.matching_success }};
        gomeeting(appli, suc);

         function gomeeting(appli, suc) {
           var box6 = document.getElementById("box6");
           if(appli==1 && suc==1) {
             box6.style.opacity=1;
             box6.style.pointerEvents="all";
           }
         }
      </script>
    </body>
  </main>
</html>
