<meta charset="utf-8">

<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>내 정보</title>
  <link rel="stylesheet" href="{% static 'myapp/css/myinfo.css' %}">
</head>
<body>
  {% include 'index.html' %}
  <main class="YouInfo">
    <br><br>
    <h2>내 정보</h2>
    <br><br>
    <div id="Info">
      <p>안녕? 내 나이는 {{ user_profile.age }}살이야!</p>
      <p>친구 {{ user_profile.peoplenum }}명이랑 미팅 신청했어!</p>
      <p>나는
      {% if user_profile.job == 'univstu' %}
        대학생이야
      {% elif user_profile.job == 'gradustu' %}
        대학원생이야
      {% elif user_profile.job == 'human' %}
        취준생이야
      {% elif user_profile.job == 'worker' %}
        직장인이야
      {% endif %}</p>
      <p>
        {{ user_profile.school }}
  {% if user_profile.major == 'liberal' %}
    문과대에 다니고 있어
  {% elif user_profile.major == 'science' %}
    이과대에 다니고 있어
  {% elif user_profile.major == 'education' %}
    사범대에 다니고 있어
  {% elif user_profile.major == 'physical' %}
    체대에 다니고 있어
  {% elif user_profile.major == 'art' %}
    미대에 다니고 있어
  {% elif user_profile.major == 'entertain' %}
    예대에 다니고 있어
  {% elif user_profile.major == 'music' %}
    음대에 다니고 있어
  {% elif user_profile.major == 'medicine' %}
    의/약대에 다니고 있어
  {% elif user_profile.major == 'special' %}
    특수대에 다니고 있어
  {% endif %}
      </p>
      <p>mbti는 {{ user_profile.mbti }}이야 </p>
    </p>
      {% if user_profile.sex == 'male' %}<p>
        {% if user_profile.army == 'go' %}
        군대는 다녀왔어!
      {% elif user_profile.army == 'nongo' %}
        군대는 아직 안 갔어
      {% endif %}
      </p>{% endif %}
      <p>키는 {{ user_profile.height }}cm고 </p>
      <p>체형은
        {% if user_profile.body == 'thin' %}
        마른편이야
      {% elif user_profile.body == 'normal' %}
        보통인 편이야
      {% elif user_profile.body == 'fat' %}
        통통한 편이야
      {% elif user_profile.body == 'muscle' %}
        탄탄한 편이야
      {% endif %}</p>
      <p>
        {% if user_profile.eyes == 'yes' %}
        유쌍 눈을 가지고 있고
      {% elif user_profile.eyes == 'no' %}
        무쌍 눈을 가지고 있고
      {% endif %}</p>
      <p>
        {% if user_profile.face == 'tubu' %}
        얼굴은 두부상이야
      {% elif user_profile.face == 'arab' %}
        얼굴은 뚜렷상이야
      {% endif %}</p>
      <p>{{ user_profile.hobby }}에 관심이 있어!
    </div>
    <div id="Info2">
      <p>자유로운 자기소개: {{ user_profile.free }}</p>
    </div>
    <br>
    <div class="box1" onclick="gomyInfo();">
      <strong>정보 변경</strong>
    </div>
    <script>
      function gomyInfo() {
        location.href = '/my/1';
      }
    </script>
  </main>
</body>
</html>