<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/success.css' %}">
  {% include 'myapp/index.html' %}
  <main class="AloneChoose2">

    <body>
      <br><br><br><br>
      <p>
        <span style="color:rgb(241, 48, 128);">매칭 동의</span>가 되었어요!</p>
      <p>상대방이 동의할 때까지
        <br>조금만 기다려주세요!</p>
      <br>
      <p>
        상대방이 동의할 경우
        <p>
          <p>
            1시간뒤에 결과창에서
            <br><br>
            <span style="color:rgb(241, 48, 128); text-emphasis-style: dot;">카톡</span>
            <span> </span>
            <span style="color:rgb(241, 48, 128); text-emphasis-style: dot;">ID</span>
            를 알려드려요!
          </p>
        </body>
      </main>

    </html>
