<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/use.css' %}" />
  {% include 'index.html' %}
  <main class="AloneChoose2">
    <body>
      <br /><br /><br /><br />
      <div id="box1">
        <p>안녕하세요! 왓팅은 미팅을 신청한 <br />대표자들의 정보를 토대로</p>
        <p>미팅을 주선해주는 앱이에요!</p>
      </div>
      <br />
      <div id="box2">
        <p>홍대축제에서 만나기를 누르면 <br />자기소개가 시작되고,</p>
        <p>자기소개 후에는 미팅인원을 고를 수 있답니다.</p>
        <p>미팅을 신청한 후에, 또 홍대축제 탭을 누르면</p>
        <p>기존 미팅 신청정보는 삭제되니 유의해주세요.</p>
      </div>
      <br />
      <div id="box3">
        <p>매칭 사이클은 1시간씩 자동 진행됩니다</p>
        <p>1시간 후 매칭이 되고, 상호 동의가 완료되면</p>
        <p>상대방의 카톡 아이디를 알 수 있어요</p>
      </div>
      <br />
      <div id="box4">
        <p>추후에 소개팅, 미팅 부분을</p>
        <p>더 개발해서 서비스 할 예정이랍니다.</p>
        <p>많이 기대해주세요!</p>
      </div>
    </body>
  </main>
</html>
